.details {
    display: flex;
    flex-direction: column;
}

.detail-content {
    display: flex;
    margin-top: clamp(2rem, 4vw, 6.1rem);
}

.details-banner {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: clamp(200px, 30vw, 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(1rem, 1vw, 1rem);
}

.details-banner > h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: clamp(2rem, 4vw, 3.6rem);
    letter-spacing: clamp(1%, 2vw, 2%);
}

.detail-list {
    min-width: clamp(20rem, 25vw, 29rem);
}

.detail-content ul {
    background-color: #047CD1;
    color: #fff;
    transition:all 300ms ease-in ;
}

.detail-content ul li {
    border-bottom: 1px solid #fff;
    padding: clamp(1.5rem, 2vw, 3.1rem);
    font-size: clamp(1rem, 1.6vw, 1.6rem);
    color: #fff;
}

.detail-list .active {
    background-color: var(--orange); 
    color: white; 
  }
  
.detail-content ul li a{
    color: #fff;
}
.detail-info {
    margin-left: clamp(3rem, 6vw, 6.1rem);
}

.detail-info > img {
    width: clamp(220px, 60vw, 760px);
    height: clamp(200px, 40vw, 584px);
    border-radius: 1rem;
    object-fit: cover;
   
}

.detail-info-content {
    width: clamp(50%, 70vw, 70%);
}

.detail-info-content h2 {
    font-weight: 600;
    font-size: clamp(2rem, 5vw, 4.6rem);
    letter-spacing: clamp(-2%, -3vw, -3%);
    margin-top: clamp(2rem, 3vw, 3.6rem);
}

.detail-info-content p {
    font-weight: 400;
    font-size: clamp(1rem, 1.6vw, 1.6rem);
    letter-spacing: clamp(0.5%, 1vw, 2%);
    margin-top: clamp(0.5rem, 1vw, 1rem);
}

.detail-icons {
    display: flex;
    gap: clamp(1rem, 3vw, 9.6rem);
    margin-top: clamp(1rem, 2vw, 2.6rem);
}

.detail-icons img {
    width: clamp(5rem, 10vw, 9.6rem);
    height: clamp(5rem, 10vw, 9.6rem);
}

.spanText {
    font-weight: 400;
    font-size: clamp(1rem, 1.6vw, 1.6rem);
    letter-spacing: 1%;
    color: #6B6B6B;
    margin-top: clamp(0.5rem, 1vw, 1.4rem);
    margin-left: clamp(0.5rem, 1vw, 1rem);
}

.detail-icons > div {
    display: flex;
    flex-direction: column;
}

.help {
    background-color: #047CD1;
    color: #fff;
    margin-top: clamp(1rem, 2vw, 2.4rem);
}

.help-content {
    padding-top: clamp(1.5rem, 2vw, 3rem);
    padding-left: clamp(2rem, 3vw, 2.8rem);
    padding-bottom: clamp(1.5rem, 2vw, 3rem);
    width: clamp(80%, 90vw, 90%);
    height: 100%;
}
.help {
    background-color: #047CD1; 
    background-image: url(../../../../public/help.png);
    background-position: bottom right; 
    background-repeat: no-repeat;
    background-size: 200px; 
    padding: 20px; 
    color: white; 
   min-height: 26.3rem;
}

.help h2 {
    font-weight: 600;
    font-size: clamp(1.5rem, 2vw, 2rem);
    letter-spacing: clamp(0.5%, 1vw, 1%);
    margin-top: clamp(2rem, 2vw, 3rem);
    margin-bottom: clamp(0.5rem, 1vw, 1rem);
    display: inline-block;
}

.help p {
    font-size: clamp(1rem, 1.4vw, 1.4rem);
    font-weight: 400;
    letter-spacing: clamp(0.5%, 1vw, 1%);
    margin-top: clamp(0.5rem, 0.8vw, 0.8rem);
    margin-bottom: clamp(1rem, 2vw, 2.8rem);
    display: inline-block;
}

.help a {
    background-color: #fff;
    color: black;
    padding: clamp(1rem, 2vw, 2rem);
    font-weight: 500;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    display: inline-block;
    border-radius: 1rem;
    transition: all 400ms ease-in;
    display: flex;
    align-items: center;
    gap: clamp(1rem, 2vw, 2rem);
}

.help a:hover {
    background-color: var(--orange);
    color: #fff;
    transform: scale(0.9);
    border-bottom: 2px solid rgb(219, 188, 140);
}


@media (max-width: 768px) {
    .detail-content {
        flex-direction: column;
    }
    .help-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .help-content a {
        width: 50%;
        height: 5rem;
    }
    .detail-info{
        margin-top: 1rem;
    }
}
