.banner {
    background-color: var(--weakblue);
}
.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(20rem, 30vw, 33rem); 
    gap: clamp(1rem, 2vw, 2rem); 
    padding: clamp(1rem, 2vw, 2rem) clamp(0.5rem, 1vw, 1rem); 
    text-align: center;
    margin-top: clamp(10rem, 15vw, 13rem); 
}
.banSvg {
    width: clamp(6rem, 10vw, 10rem); 
    height: clamp(6rem, 10vw, 10rem); 
    min-height: 30px;
    min-width: 30px;
    color: #fff;
    display: inline-block;
}

.banner p {
    color: #fff;
    font-weight: 600;
    font-size: clamp(1rem, 3vw, 3.6rem); 
    max-width: clamp(30%, 50vw, 40%); 
    margin-right: 9.5rem;
    margin-left: 3.5rem;
}

.banner .ban-button {
    color: #000000;
    background-color: #fff;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 1.6rem 1.2rem;
    border-radius: 4px;
    display: inline-block;
    transition: all 400ms ease-in;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ban-button svg{
    color: var(--orange);
    margin-left: 1rem;
    transition: all 400ms ease-in;
}

.banner .ban-button:hover {
    color:#fff ;
    background-color:  var(--orange);

}
.banner .ban-button:hover svg{
    color: #fff;
}


@media (max-width: 768px) {
    .banner-content {
        flex-direction: column; 
        height: clamp(20rem, 25vw, 25rem); 
        gap: clamp(1rem, 3vw, 1.5rem); 
        margin-top: clamp(5rem, 8vw, 7rem);
    }


    .banner p {
        font-size: clamp(1rem, 3vw, 2rem); 
        max-width: 90%; 
        
    }

    .banner .ban-button {
        font-size: clamp(1rem, 1.4vw, 1.2rem); 
        padding: clamp(1rem, 1.5vw, 1.2rem) clamp(0.8rem, 1vw, 1rem);
    }

    .ban-button svg {
        margin-left: 0.5rem; 
    }
    .banSvg {
        width: clamp(7rem, 12vw, 10rem); 
        height: clamp(7rem, 12vw, 10rem); 
        /* color: var(--secondary); */
        display: inline-block;
    }
    .banner p {
        margin-right:0;
        margin-left: 0;
    }
}
