.navbar {
  background-color: black;
  position: relative;
  z-index: 1000; 
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: clamp(6.5rem, 6vh, 6.5rem);
  background-color: var(--lightblue);
}

.navbar ul {
  transition: all 300ms ease-in;
  position: relative;
}

.navbar a {
  color: var(--secondary);
  font-weight: 400;
  font-size: clamp(1.4rem, 1.5vw, 1.5rem);
  gap: clamp(3rem, 4vw, 4rem);
  margin-left: clamp(-2rem, -2.5vw, -2.5rem);
  margin-bottom: clamp(0.5rem, 1vw, 1rem); 
}


.navbar ul ul {
  display: none;
  position: absolute; 
  background-color: black; 
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.btn-shine {
  transform: translate(-50%, -50%);
  padding: clamp(1rem, 1.2vw, 1.2rem) clamp(1.5rem, 2vw, 3.4rem);
  color: #fff;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 9rem;
  }
  100% {
    background-position: 18rem;
  }
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: clamp(3rem, 3.5vw, 3.5rem);
}

.socialContainer {
  width: clamp(3rem, 4vw, 4rem);
  height: clamp(3rem, 4vw, 4rem);
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}


.containerOne:hover { background-color: #d62976; }
.containerTwo:hover { background-color: #00acee; }
.containerThree:hover { background-color: #0072b1; }
.containerFour:hover { background-color: #128c7e; }

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: clamp(1rem, 1.4vw, 1.4rem);
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Menu Icon */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

.background {
  border-radius: clamp(12px, 16px, 16px);
  background: rgba(74, 74, 74, 0.39);
  mix-blend-mode: luminosity;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(clamp(1rem, 1.5vw, 1.5rem));
  width: clamp(3rem, 4.5vw, 4.5rem);
  height: clamp(3rem, 4.5vw, 4.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.menu__icon {
  width: clamp(2rem, 2.8vw, 2.8rem);
  height: clamp(2rem, 2.8vw, 2.8rem);
  padding: clamp(0.2rem, 0.3vw, 0.3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.menu__icon .icon-span {
  width: 100%;
  height: clamp(0.1rem, 0.125rem, 0.125rem);
  border-radius: clamp(0.1rem, 0.125rem, 0.125rem);
  background-color: var(--secondary);
}

.navbar .icons {
  gap: clamp(2rem, 12vw, 4rem);
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .background {
    display: initial;
  }

  .navigation {
    background-color: black;
    padding-inline: 1rem;
  }

  .nav-left > .mobile_navMenu{
    min-width: 100%;
    height: 100vh;
    color: white;
    background-color: var(--bg-nav);
    position: absolute;
    top: 80px;
    right: 0;
    display: none;
  }
  
  
  .nav-left > .mobile_navMenu > ul {
    font-size: clamp(1.5rem, 2vw, 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: clamp(0.5rem, 1rem, 1rem);
  }
  
  .nav-left > .mobile_navMenu.open {
    display: block;
  }

  .mobile_search-lang{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: min(95%, 1124px);
    margin: 1.5rem auto 1rem;
  }
  
  .navbar a {
    font-size: clamp(2.2rem, 2.2vw, 2.5rem);
    margin-bottom: clamp(0.3rem, 0.5vw, 0.5rem); 
  }
}

.no-scroll {
  overflow: hidden; 
}



.submenu-mobile {
  padding-left: 1rem;
  display: block;
  list-style: none;
  background: var(--bg-nav);
}

.submenu-mobile li {
  margin: 0.5rem 0;
}

.arrow {
  display: none;
  margin-left: 0.5rem;
  font-size: 3rem;
  vertical-align: middle;
}


.open .submenu-mobile {
  display: block;

  
}


.submenu {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

  .menu li:hover .submenu {
    display: block;
  }


@media (max-width: 768px) {
  .navbar{
    position: static;
  
  }
  .navbar ul > li {
    text-align: center;
  }
  .arrow{ 
    display: inline;
  }
  .menu  .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--bg-nav);
  }
}

.arrow {
  margin-left: 0.5rem;
  font-size: 1.6rem; 
  cursor: pointer; 
}


.submenu {
  display: none;
  position: absolute;
  background-color: black; 
  list-style: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1000; 
}


@media (max-width:768px) {
      .navbar{
        background-color: var(--lightblue);
        
      }
      .navigation {
        background-color: var(--lightblue);
    
      }
      .menu__icon{
        background-color: var(--lightblue);
      }
     
      .menu__icon .icon-span {
        width: 100%;
        height: clamp(0.1rem, 0.125rem, 0.125rem);
        border-radius: clamp(0.1rem, 0.125rem, 0.125rem);
        background-color: var(--black);
      }
    
}



