.navbar {
  background-color: black;
  position: relative;
  z-index: 1000; 
  
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: clamp(6.5rem, 6vh, 6.5rem);
  background-color: var(--lightblue);
  ;
}

.navbar ul {
  transition: all 300ms ease-in;
}

.navbar a {
  color: var(--secondary);
  font-weight: 400;
  font-size: clamp(1.4rem, 1.5vw, 1.5rem);
  gap: clamp(3rem, 4vw, 4rem);
  margin-left: clamp(-2rem, -2.5vw, -2.5rem);
  margin-bottom: clamp(0.5rem, 1vw, 1rem); 
}

.btn-shine {
  transform: translate(-50%, -50%);
  padding: clamp(1rem, 1.2vw, 1.2rem) clamp(1.5rem, 2vw, 3.4rem);
  color: #fff;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 9rem;
  }
  100% {
    background-position: 18rem;
  }
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: clamp(3rem, 3.5vw, 3.5rem);
}

.socialContainer {
  width: clamp(3rem, 4vw, 4rem);
  height: clamp(3rem, 4vw, 4rem);
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}

/* Instagram */
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

/* Twitter */
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

/* LinkedIn */
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

/* WhatsApp */
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: clamp(1rem, 1.4vw, 1.4rem);
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Menu Icon */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

.background {
  border-radius: clamp(12px, 16px, 16px);
  background: rgba(74, 74, 74, 0.39);
  mix-blend-mode: luminosity;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(clamp(1rem, 1.5vw, 1.5rem));
  width: clamp(3rem, 4.5vw, 4.5rem);
  height: clamp(3rem, 4.5vw, 4.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.menu__icon {
  width: clamp(2rem, 2.8vw, 2.8rem);
  height: clamp(2rem, 2.8vw, 2.8rem);
  padding: clamp(0.2rem, 0.3vw, 0.3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.menu__icon .icon-span {
  width: 100%;
  height: clamp(0.1rem, 0.125rem, 0.125rem);
  border-radius: clamp(0.1rem, 0.125rem, 0.125rem);
  background-color: #ffffff;
}

.navbar .icons {
  gap: clamp(2rem, 12vw, 4rem);
  margin-left: 2rem;
}

@media (max-width: 780px) {
  .background {
    display: initial;
  }

  .navigation{
    background-color: black;
    padding-inline: 1rem;
    

  }

  .nav-left > ul {
    flex-direction: column;
    min-width: 100%;
    height: clamp(70vh, 50vh, 50vh);
    background-color: var(--bg-nav);
    color: white;
    justify-content: center;
    font-size: clamp(1.5rem, 2vw, 2rem);
    position: absolute;
    top: 100%;
    right: 0;
    border-bottom-left-radius: clamp(0.5rem, 1rem, 1rem);
    display: none;
  }
  
  .nav-left > ul.open {
    display: flex;
  }
  
  .navbar a {
    font-size: clamp(2.2rem, 2.2vw, 2.5rem);
    margin-bottom: clamp(0.3rem, 0.5vw, 0.5rem); 
  }
}

.no-scroll {
  overflow: hidden; 
}


