.foot-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11rem;
}

.foot-content .logo  {
    height:120px;
    width: 120px;
}
.foot-content .logo img{
    width: 100%;
    height:100%;
    object-fit: contain;
}
@media (max-width:400px) {
    .foot-content{
        flex-direction: column;
        margin-top: 3rem;
    }
    .foot-content .icons{
       margin-top: 1rem;
    }
 
}