.pro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px; 
    padding: 20px;
    width: 100%;
}

.pro-title {
    font-weight: 500;
    font-size: clamp(4rem, 8vw, 6.3rem);
    line-height: clamp(6rem, 12vw, 10.7rem);
    letter-spacing: clamp(1%, 2vw, 2%);
}

.pro-list {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(354px, 1fr)); 
    gap: clamp(1rem, 2vw, 2.4rem);
}

.pro-card {
    position: relative;
    overflow: hidden;
    transition: transform 300ms ease-in;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}

.pro-card:hover {
    transform: scale(1.05);
}

.pro-image {
    width: 100%;
    /* height: auto;  */
    object-fit: cover;
    border-bottom: 1px solid #ddd; 
}

.pro-card h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    position: absolute;
    bottom: clamp(4%, 5vw, 9%);
    left: 0;
    width: clamp(60%, 70vw, 70%);
    color: #fff;
    font-size: clamp(1.4rem, 2.4vw, 2.4rem);
    margin-bottom: clamp(1rem, 2vw, 2.6rem);
    margin-left: clamp(1rem, 2vw, 2.6rem);
    letter-spacing: clamp(1%, 2vw, 2%);
    padding: 1rem;
    box-sizing: border-box; 
}

.pro-link {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: clamp(1rem, 1.5vw, 1.4rem);
    font-weight: 500;
    font-size: clamp(1rem, 1.6vw, 2rem);
    border-radius: 0 0 8px 8px;
    color: black; 
}
.pro-link:hover{
    background-color: #4066ff;
    color: #fff;
}
/* Media Queries */
@media (max-width: 768px) {
    .pro-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }

    .pro-card {
        width: 100%;
        height: auto; 
    }

    .pro-card h2 {
        width: clamp(80%, 90vw, 90%);
        font-size: clamp(1.2rem, 2.2vw, 2rem);
    }

    .pro-link {
        padding: clamp(1rem, 1.5vw, 1.2rem) clamp(1rem, 1.5vw, 2rem);
        font-size: clamp(0.8rem, 1.4vw, 1.6rem);
    }
}

@media (max-width: 700px) {
    .pro-card h2 {
        bottom: -10%; 
    }
}
